body {
  height: 100vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area {
  background-color: rgb(110, 114, 116);
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.remember {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gray {
  color: #400741;
  padding: 20px;
}
